
<body>
<header>
{{!--     
    <a href="/home" title="Home">
    <img class="logo" src="/public/Images/cineratings_logo.jpg" alt="CineRatings Logo">
    </a>
    <div class="search-bar">
        <form method="post" id="search-form">
        <input type="text" name="Search" id="searchInput">
         <button type="submit"><img class="icon" src="/public/Images/microscope_icon.jpg" alt="Search"></button>
         </form> 
         <script src="../public/js/search_form.js"></script>
   </div>
    <button class="watchlist">Watchlist</button>
    <div id="errors"></div> --}}
    <div id="errors"></div>
    <br>
    <br>
    <br>
    <div class="box-container">
    <h1 class="header-intro-text">Welcome to CineRatings!</h1>
    <p class="intro-text">At CineRatings, we believe movies hold a special place in our lives, offering relaxation, entertainment, and cultural enrichment. We're dedicated to assisting you in discovering your next great film. Our platform is designed to provide authentic user-generated reviews and ratings, saving you time and guiding you toward the perfect movie for your individual preferences.</p>
    </div>
    </header>
    <section class="explore-section">
        <a href="/home">
        <h2>Explore what's streaming</h2>
        </a>
        <div id="searchResults"></div>
    </section>

    {{!-- <footer>
        <p>Nancy | Jinghao | Yash | Vivek </p>
    </footer> --}}
    </body>